:root {
  --text-color: #1b1c31;
  --accent-color: #51459e;
  --accent-alt: #84e8f4;
  --faint-grey: #edf3fa;
  --dark-grey: #a4b6ca;

  --font-stack: 'DM Sans', sans-serif;

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.8;
  font-family: var(--font-stack);
  color: var(--text-color);
}

/* =================================================================
* Basic styles reset
*/
ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.lzs-input {
  border: none;
  height: 40px;
  border-radius: 7px;
  background: #ffffff;
  border: 1px solid #e9edf4;

  padding: 1rem 1.03rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 1.4rem;
  }

  @media (min-width: 992px) {
    height: 40px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid #e9edf4;
  }
  @media (min-width: 1135px) {
    width: 350px;
  }
}
