/* --------------------------------
* Light Mode
* -------------------------------- */

// primary accent color
.accent-primary {
  background: var(--accent-color);
  color: #fff;

  .cls-1 {
    fill: var(--accent-color);
  }

  .lzs-sidebar {
    svg {
      color: var(--accent-color);
    }
  }

  .lzs-navbar {
    &__search {
      .toggle-btn {
        svg {
          color: var(--accent-color);
        }
      }
    }
  }

  .lzs-navbar__settings--notifications-value,
  .lzs-users__button {
    background-color: var(--accent-color);
  }
}
// primary accent color
.accent-secondary {
  background: var(--accent-alt);
  color: #fff;

  .cls-1 {
    fill: var(--accent-alt);
  }

  .lzs-sidebar {
    svg {
      color: var(--accent-alt);
    }
  }

  .lzs-navbar__settings--notifications-value,
  .lzs-users__button {
    background-color: var(--accent-alt);
  }

  .lzs-navbar {
    &__search {
      .toggle-btn {
        svg {
          color: var(--accent-alt);
        }
      }
    }
  }
}

.light-background {
  background-color: #fff;
  color: var(--text-color);
}

/* --------------------------------
* Dark Mode
* -------------------------------- */

.dark-background {
  a {
    color: #fff;
  }

  background-color: var(--bg-dark);

  .cls-1 {
    fill: #fff;
  }

  input {
    background-color: transparent !important;
    border-color: var(--dark-border);

    color: var(--faint-grey);

    &::placeholder {
      color: var(--faint-grey);
      font-weight: 400;
    }
  }

  .lzs-main {
    background-color: var(--bg-dark);
  }

  .lzs-sidebar,
  .lzs-navbar,
  .lzs-settings,
  .dropdown,
  .dropdown::before {
    background-color: var(--bg-mild);
    box-shadow: unset;
  }

  .lzs-navbar {
    &__search {
      .toggle-btn {
        svg {
          color: var(--faint-grey);
        }
      }
    }
  }

  .dropdown,
  .user-item,
  .user-item .user-header,
  .user-item .user-item-content {
    border-color: var(--dark-border);
    box-shadow: unset;

    &::before {
      border-color: var(--dark-border);
    }
  }

  .lzs-category figure,
  .lzs-users__table {
    background-color: var(--bg-mild) !important;
    box-shadow: unset;

    // svg {
    //   opacity: 0.4;
    // }
  }

  .lzs-users__table {
    th,
    tr {
      color: #fff;
      border-color: var(--dark-border);
    }
  }
  .lzs-settings {
    box-shadow: unset;
    border-left: 1px solid var(--dark-border);
    h4 {
      background-color: var(--bg-dark);
      color: #fff;
      border: 1px solid var(--dark-border);
    }
  }

  .lzs-navbar,
  .notification-item {
    border-bottom-color: var(--dark-border);
  }

  .lzs-sidebar {
    border-right-color: var(--dark-border);

    svg {
      color: var(--faint-grey);
    }
  }
}
