@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:root {
  --text-color: #1b1c31;
  --accent-color: #51459e;
  --accent-alt: #84e8f4;
  --faint-grey: #edf3fa;
  --font-stack: 'DM Sans', sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.8;
  font-family: var(--font-stack); }

/* =================================================================
* Basic styles reset
*/
ul {
  padding-left: 0; }

li {
  list-style: none; }
  li a {
    text-decoration: none; }

.lzs-input {
  border: none;
  height: 40px;
  border-radius: 7px;
  background: #ffffff;
  border: 1px solid #e9edf4;
  padding: 1rem 1.03rem; }
  @media (min-width: 992px) {
    .lzs-input {
      height: 40px;
      border-radius: 7px;
      background: #ffffff;
      border: 1px solid #e9edf4; } }
  @media (min-width: 1135px) {
    .lzs-input {
      width: 350px; } }

.lzs-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6rem;
  border-bottom: 1px solid var(--faint-grey);
  padding-bottom: 1rem;
  position: fixed;
  width: calc(100% - 15%);
  background-color: #fff;
  z-index: 99;
  padding-left: 7.5px;
  padding-right: 7.5px;
  box-shadow: rgba(149, 157, 165, 0.09) 0px 8px 24px; }
  .lzs-navbar img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
  .lzs-navbar__settings {
    display: flex;
    align-items: center; }
    .lzs-navbar__settings svg {
      width: 2rem;
      height: 2rem;
      color: #8f92a1; }
    .lzs-navbar__settings > div:not(:last-child) {
      padding-right: 2rem; }
  .lzs-navbar__search {
    position: relative;
    display: flex;
    align-items: center; }
    .lzs-navbar__search .lzs-input {
      margin-left: 2rem; }
    .lzs-navbar__search .search-btn {
      position: absolute;
      right: 18px;
      top: 10px;
      height: 2.5rem;
      width: 2.5rem;
      color: #8f92a1; }
    .lzs-navbar__search .toggle-btn svg {
      height: 2.3rem;
      width: 2.3rem;
      color: var(--accent-color); }

.lzs-sidebar {
  height: 100vh;
  padding: 1.6rem 2rem;
  display: flex;
  flex: 0 0 auto;
  width: 15%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #edf3fa; }
  .lzs-sidebar a {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500; }
  .lzs-sidebar li {
    padding: 0.65rem 0; }
    .lzs-sidebar li svg {
      margin-right: 8px;
      height: 18px;
      width: 18px; }

.lzs-top-nav__logo {
  margin-bottom: 6rem; }

.lzs-contact h4 {
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.lzs-layout {
  display: flex; }

.lzs-main {
  flex: 1;
  width: 100%; }

.purple {
  border-radius: 13.56px;
  background-color: #51459e50;
  padding: 20px;
  box-shadow: rgba(81, 69, 158, 0.2) 0px 7px 29px 0px;
  align-items: center; }
  .purple svg {
    color: #51459e;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem; }

.green {
  border-radius: 13.56px;
  background-color: rgba(0, 135, 90, 0.301);
  padding: 20px;
  box-shadow: rgba(0, 135, 90, 0.2) 0px 7px 29px 0px;
  align-items: center; }
  .green svg {
    color: #00875a;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem; }

.orange {
  border-radius: 13.56px;
  background-color: rgba(222, 53, 11, 0.315);
  padding: 20px;
  box-shadow: rgba(222, 53, 11, 0.2) 0px 7px 29px 0px;
  align-items: center; }
  .orange svg {
    color: #de350b;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem; }

.blue {
  border-radius: 13.56px;
  background-color: #0052cc5b;
  padding: 20px;
  box-shadow: rgba(0, 82, 204, 0.2) 0px 7px 29px 0px;
  align-items: center; }
  .blue svg {
    color: #0052cc;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem; }

.lzs-category {
  padding: 5rem 0 2rem;
  padding-top: 13rem; }

.category-box figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between; }
