// Main dashboard layout

.lzs-layout {
  display: flex;
}

.lzs-main {
  flex: 1;
  background-color: #f7f7f7;
  width: 100%;
}

@mixin category($bg, $color, $light) {
  border-radius: 13.56px;
  background-color: $light;
  padding: 20px;
  box-shadow: rgba($color, 0.2) 0px 7px 29px 0px;
  align-items: center;

  svg {
    color: $color;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
  }
}

.purple {
  @include category((81, 69, 158), #51459e, #51459e50);
}
.green {
  @include category((0, 135, 90), #00875a, rgba(0, 135, 90, 0.301));
}
.orange {
  @include category((222, 53, 11), #de350b, rgba(222, 53, 11, 0.315));
}
.blue {
  @include category((0, 82, 204), #0052cc, #0052cc5b);
}

.lzs-category,
.lzs-sales,
.lzs-products,
.lzs-users,
.lzs-messages,
.lzs-support,
.lzs-create-user,
.lzs-delete-user,
.lzs-update-user {
  padding: 5rem 0 2rem;
  padding-top: 13rem;
}

.category-box {
  figcaption {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* --------------------------------
* Users Table
* -------------------------------- */

.lzs-users {
  .table > :not(:first-child) {
    border-top: unset;
  }
  &__table {
    padding: 2.4rem;
    box-shadow: var(--shadow);
    background-color: #fff;
    font-size: 1.4rem;

    thead {
      th {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3rem;
      }
    }

    th {
      font-weight: 400;
      padding: 1.2rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__button {
    border: 0;
    padding: 2px 0.7rem;
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.2s ease-out;

    &:first-child,
    &:last-child {
      &:hover {
        opacity: 0.8;
      }
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
