// Navbar

.lzs-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6rem;
  border-bottom: 1px solid var(--faint-grey);
  padding-bottom: 1rem;
  position: fixed;
  width: calc(100% - 15%);
  z-index: 99;
  padding-left: 7.5px;
  padding-right: 7.5px;
  box-shadow: rgba(149, 157, 165, 0.09) 0px 8px 24px;

  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
  }

  &__settings {
    display: flex;
    align-items: center;

    &--notifications,
    &--setting,
    &--user {
      position: relative;
    }

    svg {
      width: 2rem;
      height: 2rem;
      color: #8f92a1;
      cursor: pointer;
    }

    & > div:not(:last-child) {
      padding-right: 2rem;
    }

    &--setting {
      svg {
        animation: spin 2s infinite linear;
      }
    }

    &--notifications {
      &-value {
        position: absolute;
        top: -2px;
        right: 0;
        height: 1.5rem;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        font-size: 1rem;
        animation: pulse 1s linear infinite;
      }
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;

    .lzs-input {
      margin-left: 2rem;
    }

    .search-btn {
      position: absolute;
      right: 18px;
      top: 10px;
      height: 2.5rem;
      width: 2.5rem;
      color: #8f92a1;
    }

    .toggle-btn {
      svg {
        height: 2.3rem;
        width: 2.3rem;
        color: var(--accent-color);
      }
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// Dropdown

.lzs-header {
  position: relative;
}
.dropdown {
  position: absolute;
  box-shadow: var(--shadow);
  border: 1px solid #e9edf4;
  float: left;
  max-width: 32rem;
  width: max-content;
  background-color: #fff;
  z-index: 99;
  right: 0;
  // top: 38px;
  left: auto;
  border-radius: 7px;
  padding: 1.6rem;
  // overflow: hidden;
  // transform: scale(0);
  transition: all 0.2s ease;
  transform-origin: top right;
  display: none;

  &::before {
    content: '';
    left: auto;
    right: 1.2rem;
    width: 1.3rem;
    height: 1.3rem;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 2.8rem;
    z-index: 99;
    transform: rotate(45deg);
    border-top: 1px solid #e9edf4;
    border-left: 1px solid #e9edf4;
  }

  .notification-item,
  .user-item-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #e9edf4;
    padding: 1.5rem 0;

    small {
      color: var(--dark-grey);
      font-size: 1.25rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    &__icon {
      flex: 0 0 5%;

      span {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        line-height: 2.5rem;
        text-align: center;
        padding: 8px;
        border-radius: 50%;
        margin-right: 15px;
      }
    }

    &__content {
      flex: 1;
    }

    span {
      display: block;
    }
  }

  &__footer {
    padding: 2rem 0;
    text-align: center;

    a {
      font-size: 1.5rem;
      color: var(--dark-grey);
    }
  }
}

.dropdown.show {
  transform: scale(1);
  display: block;
  transition: all 0.4s ease-in-out;
}

// Dropdown user

.user-header {
  text-align: center;
  border-bottom: 1px solid #e9edf4;
  margin-bottom: 1rem;
  padding: 1.2rem 0;

  small {
    color: var(--dark-grey);
  }
}
// lsz setting header

.lzs-settings {
  position: fixed;
  top: 0;
  right: -300px;
  background: #fff;
  height: 100vh;
  padding: 4rem 3rem;
  width: 30rem;
  z-index: 99;
  box-shadow: var(--shadow);
  font-size: 1.4rem;
  transition: right 0.3s cubic-bezier(0.55, 0.48, 0.79, 0.7);

  &__header {
    margin-bottom: 4rem;

    h3 {
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }

  h4 {
    margin-bottom: 2rem;
    background: var(--faint-grey);
    padding: 1.25rem;
  }

  &__content {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      div {
        height: 4rem;
        width: 4rem;
        text-align: center;
        border-radius: 50%;
        margin-right: 2rem;
        margin-bottom: 1.2rem;
        padding: 2px;
        position: relative;
      }
    }
  }
}
.lzs-settings.show {
  right: 0;
}
